[build]
builder = "NIXPACKS"

[deploy]
startCommand = "npx prisma db push --accept-data-loss && (node prisma/seed.js || true) && node src/server.js"
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10

[env]
NODE_ENV = "production"
